/* Layout.css */
html, body {
  margin: 0;
  padding: 0;
}


.Layout-container  {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align items to the left */
  padding: 14px;
  position: relative; /* Add position relative to the container */
}

.login-button {
  background-color: #e21324;
  color: #fff;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100px; /* Set the width to your desired value */
  margin: 0 10px;
}


.login-button:hover {
  background-color: #f7918a;
  border-radius: 5px;
}

.Layout-navigation {
  background-color: #e76633b0;
  padding: 5px;
  border-radius: 5px;
  width: 100%; /* Set the navigation bar width to 100% */
  display: flex;
  justify-content: space-between; /* Add space between items */
  align-items: center; /* Center items vertically */
  height: 40px;
}

.Layout-navigation ul {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.Layout-navigation li {
  margin: 0 10px;
}

.Layout-navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding: 5px 10px;
}

.Layout-navigation a:hover {
  background-color: #f7918a;
  border-radius: 5px;
}


@media screen and (max-width: 768px) {
  /* Adjust the layout for smaller screens */
  .Layout-navigation {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
  }
  
  .Layout-navigation ul {
    flex-direction: column;
    align-items: flex-start;
  }
  
  .Layout-navigation li {
    margin: 5px 0;
  }
}
