/* VideoModal.css */

/* Overlay for the modal */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  /* Modal content container */
  .modal-content {
    max-width: 800px;
    width: 90%;
    max-height: 90%;
    overflow: hidden;
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    text-align: center;
  }
  
  /* Video player styles */
  .modal-content video {
    width: 30%;
    height: 30%;
    object-fit: cover;
  }
  
  /* Close button style */
  button {
    background-color: #dc3545;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
  }
  
  /* Close button on hover */
  button:hover {
    background-color: #c82333;
  }
  
  /* Title style */
  h3 {
    font-size: 18px;
    margin: 10px 0;
  }
  
  /* Contact details style */
  .contact-details {
    font-size: 12px;
    margin-bottom: 20px;
  }
  
  /* Text style */
  p {
    font-size: 16px;
    line-height: 1.6;
  }
  
  /* You can add more styles as needed */
  
  @media (max-width: 768px) {
    .modal-content {
      padding: 10px; /* Adjust padding for smaller screens */
    }
  
    .modal-content video {
      width: 100%; /* Adjust video width for smaller screens */
    }
  
    h3 {
      font-size: 16px; /* Adjust title font size for smaller screens */
    }
  
    .contact-details {
      font-size: 10px; /* Adjust contact details font size for smaller screens */
    }
  
    p {
      font-size: 14px; /* Adjust text font size for smaller screens */
    }
  }